<settings>
  <profiles>
    <profile>
      <id>default</id>
      <activation>
      <activeByDefault>true</activeByDefault>
      </activation>
  <repositories>
    <repository>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <id>central</id>
      <name>Maven Repository Switchboard</name>
      <url>http://repo1.maven.org/maven2</url>
    </repository>
    <repository>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <id>mvnrepository</id>
      <name>Mvn Repository</name>
      <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
      <releases>
        <updatePolicy>never</updatePolicy>
      </releases>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <id>central</id>
      <name>Maven Plugin Repository</name>
      <url>http://repo1.maven.org/maven2</url>
    </pluginRepository>
    <pluginRepository>
      <releases>
        <updatePolicy>never</updatePolicy>
      </releases>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <id>mvnrepository</id>
      <name>Mvn Repository plugins</name>
      <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
    </pluginRepository>
  </pluginRepositories>
    </profile>
  </profiles>
</settings>
